body {
    font-family: 'Montserrat';

}

#title {
    background-color: #ff4c68;
    color: white;
    width: 100%;
    /* position:relative; */
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;

}
h3 {
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
}

.container-fluid {
    padding: 1% 0%;
}

/* Naigation bar */
.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.navbar-brand {
    /* font-family:"Ubuntu"; */
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 11%;
    /* color:black; */
}

/* bUTTONS */
.download-button {
    margin: 5% 3% 5% 0%;
}

.title-img {
    width: 50%;
    transform: rotate(25deg);
    margin-left: 70px;
    /* z-index: -1; */
    /* position: absolute; */
}

.row {
    width: 85%;
    margin: auto;
}

.card-body {
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.logo {
    color: #ff4c68;
    margin-bottom: 10%;
}

.logo:hover {
    color: black;
}

.box {
    text-align: center;
    padding: 5%;
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}



p {
    color: grey;
}

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: white;
    padding: 6% 3% 6% 3%;
    /* width:75%; */
}

h2 {
    font-family: cursive;
    font-size: 3rem;
    line-height: 1.5;
    width: 60%;
    margin: auto;
    padding: 2%;
}

.dog {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 3%;


}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.btn {
    /* margin-left: %; */
}

.pricing-column {
    padding: 3% 2%;
}

#pricing {
    text-align: center;
}

@media (max-width:1028px) {
    .title-img {
        transform: rotate(0);
        position: static;
    }

    #title {
        text-align: center;
    }
}

#cta {

    background-color: #ff4c68;
    padding: 3%;
    padding-bottom: 8px;

}

.content {
    width: 30%;
    text-align: center;
    margin: auto;
    color: white;
    font-family: cursive;
}

.bottom-container {
    background-color: white;
    text-align: center;
    color: black;
    padding: 25px 0px 10px;
    /* padding-bottom: 10px; */
}

.footer-link {
    width: 25%;
    padding: 1%;
    color: black;
    size: 100px;
}

.copyright {
    color: black;
}